.introduction-section-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;
}

.introduction-section-contents-header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introduction-section-contents-header h1 {
    font-size: var(--title-fs);
    font-family: var(--title-ff);
    font-weight: var(--title-fw);
    color: var(--nav-links-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.introduction-section-contents-header h1 span {
    font-family: var(--title-ff);
    font-weight: 300;
    font-size: var(--logo-fs);
    margin-top: 20px;
}

.introduction-section-contents-header p {
    font-size: var(--text-fs);
    line-height: 22px;
    font-family: var(--text-ff);
    font-weight: 200;
    margin-top: 0px
}

.introduction-section-contents-header p span {
    font-weight: var(--title-fw);
}

.introduction-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.introduction-info div h2 {
    color: var(--secondary-color);
    font-family: var(--title-ff);
}

.hostel-count,
.student-count,
.hosts-count {
    display: flex;
    flex-direction: column;
}

.home-get-started-btn {
    margin-top: 40px;
    max-width: 50%;
    padding: 14px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--nav-links-color);
    background-color: var(--nav-links-color);
    color: var(--background-color);
    font-size: var(--nav-links-fs);
    border-radius: 3px;
    cursor: pointer;
}

.home-get-started-btn a {
    margin-right: 10px;
    font-size: var(--logo-fs) !important;
    color: var(--background-color);
    font-weight: var(--title-fw);
    font-family: var(--sub-title-ff);
    transition: 0.5s linear;
}


.introduction-info h2 {
    position: relative;
    display: inline-block;
}

.introduction-info div h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: lightseagreen;
}

.introduction-section-image {
    width: 45%;
    margin-top: 10px;
}

.introduction-section-image img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 10px;
    /* filter: drop-shadow(10px 7px 10px var(--secondary-color)); */
}

.what-we-offer {
    background-color: var(--nav-links-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    color: var(--background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.what-we-offer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.what-we-offer-header h2 {
    font-family: var(--title-ff);
    font-size: var(--title-fs);
    font-weight: var(--title-fw);
    margin-bottom: 0px;
}

.what-we-offer-header h2 {
    position: relative;
    display: inline-block;
}

.what-we-offer-header h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 50%;
    background-color: var(--secondary-color);
}

.accomodation-options-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accomodation-slider {
    max-width: 600px;
    padding: 20px;
}

.accomodation-slider img {
    width: 550px;
    height: 600px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


.swiper-pagination {
    bottom: 10px;
}

.swiper-pagination-bullet {
    background-color: #007bff;
}

.swiper-pagination-bullet-active {
    background-color: #0056b3;
}

.accomodation-section-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    justify-content: space-around;
}


.checkmark-icon {
    font-size: var(--logo-fs);
}

.accomodation-section-contents h2 {
    background: linear-gradient(45deg, var(--secondary-color), var(--background-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: bold;
    font-family: var(--title-ff);
}

.accomodation-section-contents h3 {
    font-family: var(---ff);
    font-size: var(--logo-fs);
    font-weight: var(--title-fw);
    position: relative;
    display: inline-block;
}

.accomodation-section-contents p {
    font-family: var(--text-ff);
    font-size: var(--text-fs);
    font-weight: 300;
    margin-bottom: 20px;
}

.explore-more-rooms-button {
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: var(--subtitle-fw);
    border-radius: 2px;
    transition: .5s linear;
    margin-top: 20px;
}

.available-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.available-features h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--title-ff);
    font-size: var(--sub-title-fs);
    color: var(--secondary-color);
    position: relative;
    display: inline-block;
}

.feature-lists {
    display: flex;
    flex-direction: column;
}
.bottom-feature-list,
.top-feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 222;
    background: rgba(225, 225, 225, 0.1);
    padding: 40px;
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    line-height: 20px;
    width: 30%;
    justify-content: space-between;
}

.feature-icon {
    color: var(--secondary-color);
    font-size: var(--title-fs);
}

.feature-item p {
    color: var(--background-color);
    font-family: var(--nav-links-ff);
    font-size: var(--logo-fs);
}

.feature-item span {
    font-family: var(--links-ff);
    font-size: var(--links-fs);
}

.cta-button-container {
    display: flex;
    justify-content: center;
}

.cta-button {
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: var(--subtitle-fw);
    border-radius: 2px;
    margin-bottom: 30px;
    transition: .5s linear;
}

.cta-button:hover,
.explore-more-rooms-button:hover {
    filter: grayscale(40%);
}

.looking-for-hostels-section {
    margin-top: 100px;
}

.looking-for-hostels-section h1 {
    text-align: center;
    font-size: var(--title-fs);
    font-weight: var(--title-fw);
    font-family: var(--title-ff);
    color: var(--nav-links-color);
    margin-bottom: 20px;
    position: relative;
}

/* ================= Looking for HOstels Section ================= */

.looking-for-hostels-section h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 120px;
    width: 28%;
    height: 2px;
    /* background-color: white !important; */
}

.steps-for-looking-for-hostels {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 150px;
}

.step-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 150px;
}

.step-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 150px;

}

.step-1 .step-1-contents .step-2 .step-2-contents,
.step-3 .step-3-contents {
    width: 45%;
}

.step-2 .step-2-contents h2,
.step-3 .step-3-contents h2,
.step-1 .step-1-contents h2 {
    font-family: var(--title-ff);
    font-size: 24px;
    color: lightseagreen;
    margin-bottom: 20px;
    text-align: center;
}

.step-3 .step-3-contents,
.step-2 .step-2-contents,
.step-1 .step-1-contents p {
    font-family: var(--links-ff);
    width: 100%;
    text-align: center;
}

.image-settings {
    width: 500px;
    object-fit: cover;
    border-radius: 8px;
    background-color: transparent;
}

@media (max-width: 2560px) {

    .step-1 .step-1-contents,
    .step-2 .step-2-contents,
    .step-3 .step-3-contents {
        width: 45%;
    }
}

@media (max-widht: 1091px) {
    .feature-item {
        width: 30%;
    }

    .accomodation-slider {
        max-width: 50%;
    }



    .step-1 .step-1-contents,
    .step-2 .step-2-contents,
    .step-3 .step-3-contents {
        width: 43%;
    }

    .image-settings {
        width: 450px;
    }
}

/* mobile phone view */
@media (max-width: 768px) {
    .introduction-section-contents {
        flex-direction: column;
        align-items: center;
    }

    .introduction-section-contents-header {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .introduction-section-contents-header h1 {
        font-size: var(--sub-title-fs);
    }

    .introduction-section-contents-header h1 span {
        margin-bottom: 40px;
    }

    .introduction-section-image {
        width: 100%;
        margin-top: 2rem;
        object-fit: cover;
    }

    .home-get-started-btn {
        width: 40%;
        /* Adjust as needed */
        font-size: 16px;
        /* Adjust as needed */
    }

    .what-we-offer {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }

    .what-we-offer-header {
        padding: 12px;
    }

    .what-we-offer-header h2 {
        font-size: 30px;
    }


    .accomodation-options-section {
        flex-direction: column;
    }


    .accomodation-slider {
        max-width: none;
        padding: 10px;
    }

    .accomodation-slider img {
        width: 100%;
        height: 420px;
        max-width: 100%;
    }

    .available-features h2 {
        font-size: 28px;
    }

    .bottom-feature-list,
    .top-feature-list {
        margin-bottom: 0px;
    }

    .feature-item {
        width: 85%;
        margin-bottom: 2rem;
    }



    .step-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .step-1,
    .step-3 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .step-1 .step-1-contents,
    .step-2 .step-2-contents,
    .step-3 .step-3-contents {
        width: 70%;

    }

    .step-2 .step-2-contents h2,
    .step-3 .step-3-contents h2,
    .step-1 .step-1-contents h2 {
        margin-bottom: 10px;
    }

    .looking-for-hostels-section h1::after {
        display: none;
    }

    .image-settings {
        width: 350px;
    }
}

@media (max-width: 480px) {
    .home-get-started-btn {
        width: 80%;
        font-size: 14px;
    }


}